/* Show or hide form field depending on selected message type */
.formDestMmsi {
  display: var(--destMmsi);
}

.formAddrMsg {
  display: var(--addrMsg);
}

.formSartMsg {
  display: var(--sartMsg);
}

.formPosLat {
  display: var(--posLat);
}

.formPosLon {
  display: var(--posLon);
}

.formAlt {
  display: var(--alt);
}

.formSpeed {
  display: var(--speed);
}

.formCourse {
  display: var(--course);
}

.formNavStatus {
  display: var(--navStatus);
}

.formFatdma {
  display: var(--fatdma);
}

.formNavAidType {
  display: var(--navAidType);
}

.formNavAidName {
  display: var(--navAidName);
}

.formAisChannel {
  display: var(--aisChannel);
}

.formAisRectangle {
  display: var(--aisRectangle);
}

.formReportInterval {
  display: var(--reportInterval);
}

.formQuietTime {
  display: var(--quietTime);
}

.formNameCallsignRadio {
  display: var(--nameCallsignRadio);
}

.formVesselName {
  display: var(--name);
}

.formVesselCallsign {
  display: var(--callsign);
}

.formVesselType {
  display: var(--type);
}

.formLength {
  display: var(--length);
}

.formBeam {
  display: var(--beam);
}

.formVesselDestination {
  display: var(--destination);
}

.formEta {
  display: var(--eta);
}

.formDraught {
  display: var(--draught);
}

/* All form fields hidden by default. */
:root {
  --destMmsi: none;
  --addrMsg: none;
  --sartMsg: none;
  --posLat: none;
  --posLon: none;
  --speed: none;
  --alt: none;
  --course: none;
  --navStatus: none;
  --fatdma: none;
  --navAidType: none;
  --navAidName: none;
  --aisChannel: none;
  --aisRectangle: none;
  --reportInterval: none;
  --quietTime: none;
  --nameCallsignRadio: none;
  --name: none;
  --callsign: none;
  --type: none;
  --length: none;
  --beam: none;
  --destination: none;
  --eta: none;
  --draught: none;
}

/* Show form fields for message type 1, 4 and 18. */
[data-msg='msgType1'] {
  --posLat: block;
  --posLon: block;
  --speed: block;
  --course: block;
  --navStatus: block;
}
/* Show form fields for message type 4. */
[data-msg='msgType4'] {
  --posLat: block;
  --posLon: block;
}

/* Show form fields for message type 5. */
[data-msg='msgType5'] {
  --name: block;
  --callsign: block;
  --type: block;
  --length: block;
  --beam: block;
  --destination: block;
  --eta: block;
  --draught: block;
}

/* Show form fields for message type 9. */
[data-msg='msgType9'] {
  --posLat: block;
  --posLon: block;
  --speed: block;
  --alt: block;
  --course: block;
}
/* Show form fields for message type 12. */
[data-msg='msgType12'] {
  --destMmsi: block;
  --addrMsg: block;
}
/* Show form fields for message type 14. */
[data-msg='msgType14'] {
  --sartMsg: block;
}
/* Show form fields for message type 18. */
[data-msg='msgType18'] {
  --posLat: block;
  --posLon: block;
  --speed: block;
  --course: block;
}
/* Show form fields for message type 19. */
[data-msg='msgType19'] {
  --posLat: block;
  --posLon: block;
  --speed: block;
  --course: block;
  --name: block;
  --type: block;
  --length: block;
  --beam: block;
}
/* Show form fields for message type 20. */
[data-msg='msgType20'] {
  --fatdma: block;
}
/* Show form fields for message type 21. */
[data-msg='msgType21'] {
  --posLat: block;
  --posLon: block;
  --navAidType: block;
  --navAidName: block;
  --length: block;
  --beam: block;
}
/* Show form fields for message type 22. */
[data-msg='msgType22'] {
  --aisChannel: block;
  --aisRectangle: block;
}
/* Show form fields for message type 23. */
[data-msg='msgType23'] {
  --aisRectangle: block;
  --reportInterval: block;
  --quietTime: block;
}
/* Show form fields for message type 24. */
[data-msg='msgType24'] {
  --nameCallsignRadio: block;
}
/* Show additional form fields for message type 24, sub-type A. */
[data-msg='msgType24A'] {
  --nameCallsignRadio: block;
  --name: block;
}
/* Show additional form fields for message type 24, sub-type B. */
[data-msg='msgType24B'] {
  --nameCallsignRadio: block;
  --callsign: block;
  --type: block;
  --length: block;
  --beam: block;
}
